technical/tds/GP Adverse Reaction Summary - LRCS (Composition).xsd

<?xml version="1.0" encoding="utf-8"?>
<!--Generated using tds-default.xsl v2.3 ($Revision$)-->
<xs:schema xmlns:oe="http://schemas.openehr.org/v1" xmlns="http://schemas.oceanehr.com/templates"
  elementFormDefault="qualified" targetNamespace="http://schemas.oceanehr.com/templates"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../schema/openehr%20schema/Structure.xsd"
    namespace="http://schemas.openehr.org/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  <xs:element name="GP_Adverse_Reaction_Summary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value" type="xs:string" fixed="GP Adverse Reaction Summary"/>
              <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
        <xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="feeder_audit" type="oe:FEEDER_AUDIT" minOccurs="0"/>
        <xs:element name="language">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="terminology_id">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="code_string" fixed="en" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="territory">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="terminology_id">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" fixed="ISO_3166-1" type="xs:token"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="code_string" default="GB" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="category">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value" type="xs:string" fixed="persistent"/>
              <xs:element name="defining_code">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="terminology_id">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" fixed="openehr" type="xs:token"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="code_string" fixed="431" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="composer" type="oe:PARTY_PROXY"/>
        <xs:element name="Adverse_reaction" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="xs:string" default="Adverse reaction"/>
                    <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                      maxOccurs="unbounded"/>
                    <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
              <xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="feeder_audit" type="oe:FEEDER_AUDIT" minOccurs="0"/>
              <xs:element name="language">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="terminology_id">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="code_string" default="en" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="encoding">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="terminology_id">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" fixed="IANA_character-sets" type="xs:token"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="code_string" default="UTF-8" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="subject" type="oe:PARTY_SELF"/>
              <xs:element name="provider" type="oe:PARTY_IDENTIFIED" minOccurs="0" maxOccurs="1"/>
              <xs:element name="other_participations" type="oe:PARTICIPATION" minOccurs="0"
                maxOccurs="unbounded"/>
              <xs:element name="work_flow_id" type="oe:OBJECT_REF" minOccurs="0" maxOccurs="1"/>
              <xs:element name="protocol" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Record_provenance" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:any processContents="lax"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute fixed="at0023" name="archetype_node_id" type="oe:archetypeNodeId"/>
                  <xs:attribute fixed="ITEM_TREE" name="type"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="data">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Causative_agent">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="xs:string" default="Causative agent"/>
                                <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                                  maxOccurs="unbounded"/>
                                <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"
                                />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:choice>
                            <xs:element name="value" type="oe:DV_TEXT"/>
                            <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                          </xs:choice>
                        </xs:sequence>
                        <xs:attribute fixed="at0002" name="archetype_node_id"
                          type="oe:archetypeNodeId"/>
                        <xs:attribute fixed="ELEMENT" name="type"/>
                        <xs:attribute name="valueType" fixed="DV_TEXT"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Reaction_details" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="xs:string" default="Reaction details"/>
                                <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                                  maxOccurs="unbounded"/>
                                <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"
                                />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Date_recorded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="value" type="xs:string"
                                        default="Date recorded"/>
                                      <xs:element name="mappings" type="oe:TERM_MAPPING"
                                        minOccurs="0" maxOccurs="unbounded"/>
                                      <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                        minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:choice>
                                  <xs:element name="value" type="oe:DV_DATE_TIME"/>
                                  <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                </xs:choice>
                              </xs:sequence>
                              <xs:attribute fixed="at0021" name="archetype_node_id"
                                type="oe:archetypeNodeId"/>
                              <xs:attribute fixed="ELEMENT" name="type"/>
                              <xs:attribute name="valueType" fixed="DV_DATE_TIME"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Comment" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="value" type="xs:string" default="Comment"/>
                                      <xs:element name="mappings" type="oe:TERM_MAPPING"
                                        minOccurs="0" maxOccurs="unbounded"/>
                                      <xs:element name="defining_code" type="oe:CODE_PHRASE"
                                        minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:choice>
                                  <xs:element name="value" type="oe:DV_TEXT"/>
                                  <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                                </xs:choice>
                              </xs:sequence>
                              <xs:attribute fixed="at0022" name="archetype_node_id"
                                type="oe:archetypeNodeId"/>
                              <xs:attribute fixed="ELEMENT" name="type"/>
                              <xs:attribute name="valueType" fixed="DV_TEXT"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute fixed="at0025" name="archetype_node_id"
                          type="oe:archetypeNodeId"/>
                        <xs:attribute fixed="CLUSTER" name="type"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute fixed="at0001" name="archetype_node_id" type="oe:archetypeNodeId"/>
                  <xs:attribute fixed="ITEM_TREE" name="type"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute fixed="openEHR-EHR-EVALUATION.adverse_reaction_uk.v1"
              name="archetype_node_id" type="oe:archetypeNodeId"/>
            <xs:attribute fixed="EVALUATION" name="type"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Contraindication" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="xs:string" default="Contraindication"/>
                    <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                      maxOccurs="unbounded"/>
                    <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
              <xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="feeder_audit" type="oe:FEEDER_AUDIT" minOccurs="0"/>
              <xs:element name="language">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="terminology_id">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="code_string" default="en" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="encoding">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="terminology_id">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" fixed="IANA_character-sets" type="xs:token"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="code_string" default="UTF-8" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="subject" type="oe:PARTY_SELF"/>
              <xs:element name="provider" type="oe:PARTY_IDENTIFIED" minOccurs="0" maxOccurs="1"/>
              <xs:element name="other_participations" type="oe:PARTICIPATION" minOccurs="0"
                maxOccurs="unbounded"/>
              <xs:element name="work_flow_id" type="oe:OBJECT_REF" minOccurs="0" maxOccurs="1"/>
              <xs:element name="data">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Contraindication" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="xs:string" default="Contraindication"/>
                                <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                                  maxOccurs="unbounded"/>
                                <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"
                                />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:choice>
                            <xs:element name="value" type="oe:DV_TEXT"/>
                            <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                          </xs:choice>
                        </xs:sequence>
                        <xs:attribute fixed="at0002" name="archetype_node_id"
                          type="oe:archetypeNodeId"/>
                        <xs:attribute fixed="ELEMENT" name="type"/>
                        <xs:attribute name="valueType" fixed="DV_TEXT"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Evidence_fslash_Rationale" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="xs:string"
                                  default="Evidence/Rationale"/>
                                <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                                  maxOccurs="unbounded"/>
                                <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"
                                />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:choice>
                            <xs:element name="value" type="oe:DV_TEXT"/>
                            <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                          </xs:choice>
                        </xs:sequence>
                        <xs:attribute fixed="at0003" name="archetype_node_id"
                          type="oe:archetypeNodeId"/>
                        <xs:attribute fixed="ELEMENT" name="type"/>
                        <xs:attribute name="valueType" fixed="DV_TEXT"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute fixed="at0001" name="archetype_node_id" type="oe:archetypeNodeId"/>
                  <xs:attribute fixed="ITEM_TREE" name="type"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute fixed="openEHR-EHR-EVALUATION.contraindication.v1"
              name="archetype_node_id" type="oe:archetypeNodeId"/>
            <xs:attribute fixed="EVALUATION" name="type"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Exclusion_statement__-__Adverse_Reaction" minOccurs="0"
          maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="xs:string"
                      default="Exclusion statement - Adverse Reaction"/>
                    <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                      maxOccurs="unbounded"/>
                    <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
              <xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="feeder_audit" type="oe:FEEDER_AUDIT" minOccurs="0"/>
              <xs:element name="language">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="terminology_id">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="code_string" default="en" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="encoding">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="terminology_id">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" fixed="IANA_character-sets" type="xs:token"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="code_string" default="UTF-8" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="subject" type="oe:PARTY_SELF"/>
              <xs:element name="provider" type="oe:PARTY_IDENTIFIED" minOccurs="0" maxOccurs="1"/>
              <xs:element name="other_participations" type="oe:PARTICIPATION" minOccurs="0"
                maxOccurs="unbounded"/>
              <xs:element name="work_flow_id" type="oe:OBJECT_REF" minOccurs="0" maxOccurs="1"/>
              <xs:element name="data">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Global_Statement" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="xs:string" default="Global Statement"/>
                                <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                                  maxOccurs="unbounded"/>
                                <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"
                                />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:choice>
                            <xs:element name="value">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="value" type="xs:string" minOccurs="0"/>
                                  <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                                    maxOccurs="unbounded"/>
                                  <xs:element name="defining_code">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="terminology_id">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="value" fixed="local" type="xs:token"
                                              />
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element name="code_string" fixed="at0.3"
                                          type="xs:string"/>
                                        <!-- Value = No known adverse reactions -->
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                          </xs:choice>
                        </xs:sequence>
                        <xs:attribute fixed="at0002.1" name="archetype_node_id"
                          type="oe:archetypeNodeId"/>
                        <xs:attribute fixed="ELEMENT" name="type"/>
                        <xs:attribute name="valueType" fixed="DV_CODED_TEXT"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Comment" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="xs:string" default="Comment"/>
                                <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                                  maxOccurs="unbounded"/>
                                <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"
                                />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:choice>
                            <xs:element name="value" type="oe:DV_TEXT"/>
                            <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                          </xs:choice>
                        </xs:sequence>
                        <xs:attribute fixed="at0.11" name="archetype_node_id"
                          type="oe:archetypeNodeId"/>
                        <xs:attribute fixed="ELEMENT" name="type"/>
                        <xs:attribute name="valueType" fixed="DV_TEXT"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute fixed="at0001" name="archetype_node_id" type="oe:archetypeNodeId"/>
                  <xs:attribute fixed="ITEM_TREE" name="type"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute fixed="openEHR-EHR-EVALUATION.exclusion-adverse.v1"
              name="archetype_node_id" type="oe:archetypeNodeId"/>
            <xs:attribute fixed="EVALUATION" name="type"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Absence_of_Information" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="xs:string" default="Absence of Information"/>
                    <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                      maxOccurs="unbounded"/>
                    <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="uid" type="oe:UID_BASED_ID" minOccurs="0" maxOccurs="1"/>
              <xs:element name="links" type="oe:LINK" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="feeder_audit" type="oe:FEEDER_AUDIT" minOccurs="0"/>
              <xs:element name="language">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="terminology_id">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" fixed="ISO_639-1" type="xs:token"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="code_string" default="en" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="encoding">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="terminology_id">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" fixed="IANA_character-sets" type="xs:token"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="code_string" default="UTF-8" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="subject" type="oe:PARTY_SELF"/>
              <xs:element name="provider" type="oe:PARTY_IDENTIFIED" minOccurs="0" maxOccurs="1"/>
              <xs:element name="other_participations" type="oe:PARTICIPATION" minOccurs="0"
                maxOccurs="unbounded"/>
              <xs:element name="work_flow_id" type="oe:OBJECT_REF" minOccurs="0" maxOccurs="1"/>
              <xs:element name="data">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Absence_Statement" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value" type="xs:string"
                                  default="Absence Statement"/>
                                <xs:element name="mappings" type="oe:TERM_MAPPING" minOccurs="0"
                                  maxOccurs="unbounded"/>
                                <xs:element name="defining_code" type="oe:CODE_PHRASE" minOccurs="0"
                                />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:choice>
                            <xs:element name="value" type="oe:DV_TEXT"/>
                            <xs:element name="null_flavour" type="oe:DV_CODED_TEXT"/>
                          </xs:choice>
                        </xs:sequence>
                        <xs:attribute fixed="at0002" name="archetype_node_id"
                          type="oe:archetypeNodeId"/>
                        <xs:attribute fixed="ELEMENT" name="type"/>
                        <xs:attribute name="valueType" fixed="DV_TEXT"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute fixed="at0001" name="archetype_node_id" type="oe:archetypeNodeId"/>
                  <xs:attribute fixed="ITEM_TREE" name="type"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute fixed="openEHR-EHR-EVALUATION.absence.v1" name="archetype_node_id"
              type="oe:archetypeNodeId"/>
            <xs:attribute fixed="EVALUATION" name="type"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute fixed="openEHR-EHR-COMPOSITION.adverse_reaction_list.v1"
        name="archetype_node_id" type="oe:archetypeNodeId"/>
      <xs:attribute fixed="COMPOSITION" name="type"/>
      <xs:attribute fixed="GP Adverse Reaction Summary - LRCS (Composition)" name="template_id"
        use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
